
/* bg cl
    - main ##FFFFFF
    - second #2F303A #E5E5E5 #F5F4FA */

/* txt cl 
    - main  #757575
    - second add #212121 #FFFFFF rgba(255, 255, 255, 0.6) #000000
    - accent  #2196F3 */

:root {
    /* fonts */
    --main-font: "Roboto";
    --second-font: "Raleway"; 

    /* txt cl */
    --main-cl: #757575;
    --second-cl: #212121;
    --add_white_cl: #FFFFFF;
    --add_black_cl: #000000;
    --add_rgba_cl: rgba(255, 255, 255, 0.6);
    --accent-cl: #2196F3;

    /* bg-cl */
    --main-bg-cl: #FFFFFF;
    --second-bg-cl: #2F303A;
    --add-bg-cl: #E5E5E5;
    --rare-bg-cl: #F5F4FA;
    --accent-bg-cl: #2196F3;
    /* others */
}
/* body */
.body {
    background: var(-main-bg-cl);
    color: var(--main-cl);
    font-family: var(--main-font), sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

/* common styles start */

.list {
    text-decoration: none;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    
}

/* HEADER */

/* header-nav */
.header-nav .header-link.current {
color: var(--accent-cl);
}

 /* logo */

 .header-logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-cl);
    text-decoration: none;
    list-style: none;
    margin-right: 93px;
}
  
.header-span { 
    color: var(--add_black_cl);
}
        
.footer-span {
    color: var(--add_white_cl);
}

.header-link {
color: var(--second-cl);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-cl); 
}

/* header-contacts */
.header-contacts a {
    color: var(--main-cl); 
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
}

.header-contacts a:hover,
.header-contacts a:focus {
color: var(--accent-cl);
}

/* MAIN */
/* hero */

.hero { 
    background: var(--second-bg-cl);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    color: var(--add_white_cl);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    background: var(--accent-bg-cl);
    color: var(--add_white_cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    display: inline-block;
    border-radius: 4px;
    min-width: 200px;
    text-align: center;
    border: none;
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--rare-bg-cl);
    color: var(--second-cl);
}

/* features */

.features-title {
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 0;
}

.features-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--second-cl);
    margin-bottom: 10px;
}   
.features-txt {
    color: var(--main-cl);
    margin-top: 0;
    margin-bottom: 0;
}

/* service */
.service-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--second-cl);
    margin-top: 0;
    margin-bottom: 0;
}

/* team */
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--second-cl);
    margin-top: 0;
    margin-bottom: 0;
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--second-cl);
}

.team-txt {
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-cl);
    margin-top: 0;
    margin-bottom: 0;
}

/* footer */
.footer-logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-cl);
    text-decoration: none;
    list-style: none;
}

.list .address-link,
.list .link {
    text-decoration: none;
    list-style: none;
    font-style: normal;
}

.list .address-link {
    color: var(--add_white_cl);
}

.list .link {
     color: var(--add_rgba_cl);
    }

    .footer {  
    background: var(--second-bg-cl);
}

/* PORTFOLIO */

.filters-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-cl);
    background: var(--rare-bg-cl);
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
    display: inline-block;
}

.filters-btn:hover,
.filters-btn:focus {
    background: var(--accent-bg-cl);
    color: var(--add_white_cl);
}

.portfolio-title {
visibility: hidden;    
}

.portfolio-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--second-cl);
    font-style: normal;
}

.portfolio-txt {
    font-size: 16px;
    line-height: 1.88;
    color:var(--main-cl);
    margin-top: 0;
    margin-bottom: 0;
}

/* FLEXBOX */
/* border-box for all elevrnts !!!-but its in modern-normalize file
*,
*::before,
*::after {
    box-sizing: border-box;
}
*/

/* next code */

/* OUTLINE AND BG */
/* outline for all section */
.hero,
.features,
.service,
.team,
.footer,
.portfolio {
    outline: 2px solid tomato;
    background-color: #d9f7a8;
}
/* outline for all containers */
.container {
outline: 2px solid rgb(19, 201, 31);
background-color: #85cdec;
}
/* pictures */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list-item:not(:last-child) {
    margin-right: 50px;
}
.header-list-item {
margin-top: 32px;
margin-bottom: 32px;
}

.header-contacts {
    margin-left: auto;
}

.header-contacts-tel {
    margin-left: 50px;
}

.features-container {
    display: flex;

}
